<link rel="preload" href="/files/fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/files/fonts/RobotoMono/roboto-mono-v31-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

<style>
:root {
  --sp-color-bg: #f8f7f3;
  --sp-color-surface: #f1efed;
  --sp-color-text: #171717;
  --sp-color-text-secondary: #707070;
  --sp-brand-500: var(--sp-color-primary, #171717);
  --sp-brand-600: var(--sp-color-primary-hover, #000000);
}
html {
  background-color: var(--sp-color-bg);
  color: var(--sp-color-text);
}
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: var(--sp-color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header, .site-header {
  min-height: 64px;
}
</style>

<link rel="stylesheet" href="{{CSS_BASE_PATH}}/core/variables.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/core/fonts.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/core/reset.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/header-core.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/header-dropdown.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/footer.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/mobile-menu.css">
