<link rel="preload" href="/files/fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/files/fonts/OpenSans/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>

<style>
:root {
  --sp-color-background: #FAFAF9;
  --sp-color-text: #0F172A;
}
html {
  background-color: var(--sp-color-background);
  color: var(--sp-color-text);
}
body {
  margin: 0;
  font-family: 'OpenSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--sp-color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header, .site-header {
  min-height: 64px;
}
</style>

<link rel="stylesheet" href="{{CSS_BASE_PATH}}/core/variables.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/core/tokens.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/core/fonts.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/core/reset.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/header-core.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/header-dropdown.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/header-theme-toggle.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/footer.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/mobile-menu.css">
<link rel="stylesheet" href="{{CSS_BASE_PATH}}/components/cta-buttons.css">
