.cli-delay-02 {
  --sp-delay: 0.2s;
}

.cli-delay-06 {
  --sp-delay: 0.6s;
}

.cli-delay-08 {
  --sp-delay: 0.8s;
}

.cli-delay-10 {
  --sp-delay: 1.0s;
}

.cli-delay-12 {
  --sp-delay: 1.2s;
}

.cli-delay-16 {
  --sp-delay: 1.6s;
}

.cli-delay-20 {
  --sp-delay: 2.0s;
}

.cli-delay-24 {
  --sp-delay: 2.4s;
}

.cli-delay-26 {
  --sp-delay: 2.6s;
}

.cli-delay-30 {
  --sp-delay: 3.0s;
}

.cli-delay-34 {
  --sp-delay: 3.4s;
}

.cli-delay-36 {
  --sp-delay: 3.6s;
}

.cli-delay-40 {
  --sp-delay: 4.0s;
}

.cli-delay-44 {
  --sp-delay: 4.4s;
}

.cli-delay-48 {
  --sp-delay: 4.8s;
}

.cli-delay-50 {
  --sp-delay: 5.0s;
}

.cli-delay-52 {
  --sp-delay: 5.2s;
}

.cli-delay-54 {
  --sp-delay: 5.4s;
}

.cli-delay-56 {
  --sp-delay: 5.6s;
}

.cli-delay-58 {
  --sp-delay: 5.8s;
}

.cli-delay-60 {
  --sp-delay: 6.0s;
}

.cli-delay-62 {
  --sp-delay: 6.2s;
}

.cli-delay-66 {
  --sp-delay: 6.6s;
}

.cli-delay-70 {
  --sp-delay: 7.0s;
}
